TEST-RAG-PIPELINE.json
{
  "name": "TEST-RAG-PIPELINE",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        176,
        0
      ],
      "id": "3bfcd42d-3d96-48cd-9d00-4edc363fd7ed",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TtgUyA0C9JR8GIuc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1gtiO7QqXb8tE5k05Xn1tyi_-Pm10P_ar",
          "mode": "list",
          "cachedResultName": "Lutong Pinoy Info",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1gtiO7QqXb8tE5k05Xn1tyi_-Pm10P_ar"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "74cffbae-5d5a-4c73-84e9-599d96ce8e04",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TtgUyA0C9JR8GIuc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        368,
        0
      ],
      "id": "0981e350-7c91-46a1-9e32-41afab6f10c3",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "gB5gnF78MoC1X5y9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        480,
        208
      ],
      "id": "5f7b0371-3a03-48b9-b740-264d5558298d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "embed-english-light-v2.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        304,
        208
      ],
      "id": "f3536c2a-d395-41e8-96d1-c19dd9882327",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "nbvgljU21wIpTzZE",
          "name": "CohereApi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "da9d9bfe-5e53-4d0c-ac27-e8468089d37a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "69febf903a3791d5efd535fa1f67eb56cab914195769ec435fe70ee1bf281c49"
  },
  "id": "C9bcRpdfc8rmhVoLyhTXH",
  "tags": []
}